h1 {
  text-align: center; }

.gallery-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em; }

.gallery-img {
  display: block;
  max-width: 100%;
  cursor: pointer; }

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 100; }

.lightbox-container {
  position: relative;
  margin: auto;
  background: #fff;
  padding: 1em;
  border-radius: .2em; }

.close-modal {
  background: tomato;
  color: #fff;
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  line-height: 1.8em;
  top: -0.9em;
  right: -0.9em;
  border-radius: 50%;
  cursor: pointer; }

.lightbox-description {
  text-align: center;
  font-size: 1.1em; }

.lightbox-navigation {
  display: flex;
  justify-content: space-between;
  font-size: .9em;
  opacity: .8; }
  .lightbox-navigation__button {
    text-decoration: none;
    color: tomato; }
