doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  title EDui - Documentación
  link(rel="stylesheet" href="../dist/css/docs.css")
  block styles
body
  .ed-nav
    .ed-nav__container
      .ed-nav__left
        a.ed-nav__item(href="../index.html") « Regresar al inicio
      .ed-nav__right
        a.ed-nav__item(href="https://github.com/escueladigital/EDui") EDui en Github
  block content
  script(src="../dist/helpers.js")
  block scripts