doctype html
html(lang="es")
  head
    title My awesome title
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href="css/ed-ui.css")
  body
    block main
    script(src="js/ed-ui.js")

    block scripts
