extends ../includes/template
block main
  h1 EDui

  h2 Ejemplos

  ul
    li: a(href="modal.html") Ventana modal
    li: a(href="vimeo-modal.html") Ventana modal de vimeo
    li: a(href="youtube-modal.html") Ventana modal de YouTube
    li: a(href="tabs.html") Tabs
    //li: a(href="lightbox.html") Lightbox
    //li: a(href="sticky-elements.html") Sticky elements
