body {
  font-family : sans-serif;
}

h1 {
  text-align : center;
}
.animated-scroll__content,
.animated-scroll__menu {
  width : 80%;
  max-width : 800px;
  margin-left: auto;
  margin-right: auto;
}

.animated-scroll__menu {
  display : flex;
  list-style: none;
  justify-content: center;
  padding : 0;

  li {
    margin : 1em;
  }
}

.animated-scroll__content {
  padding-top : 4em;
  line-height : 1.8;
}
